html {
 width: 100%;
 padding: 0;
 margin: 0;
}

body {
 width: 100%;
 padding: 0;
 margin: 0;
}

p {
  margin: 0px;
}

footer {
 width: 100%;
 text-align: center;
 background-color: #dbefff;
}

img {
  max-width: 100%;
}

.container {
 background-color: #dbefff;
 text-align: center;
 width: 100%;
 margin: 0;
 text-shadow:2px 0 0 white;
 max-width: 100%;
}

.mainicon {
 height: 150px;
}

.pretty{
 text-align: center;
 background-color: #FFF8FE;
 margin: 0;
 width: 100%;
}

.backpict {
  width: 1000px;
  height: auto;
}

#tab {
 width: 100%;
 list-style: none;
 overflow: hidden;
 margin: 0;
 padding: 0;
}

#tab li {
  text-align: center;
  vertical-align: middle;
  display: inline;
  margin-right: 2px;
}

#tab li a {
  font-size: 20px; 
  text-decoration: none;
  color: #282e33;
  font-weight: bold;
  padding: 5px;
}

.box {
align-items: center;
}

.box-height {
align-items: center;
}

.staff-container {
  width: 800px;
  margin: 0 auto;
  background-color: white;
}


.sns-icon:hover {
  opacity: 0.6;
}

.sns-icon {
  vertical-align: top;
  display: block;
  padding: 5px 0px;
}

.stafficon-container {
  width: 25%;
}

.stafficon {
  border-radius: 200px;
}

.description {
  width: 70%;
  text-align: left;
  padding-left: 10px;
  vertical-align: middle;
}

#staff-l li {
  text-align: center;
  vertical-align: middle;
  margin-right: 2px;
  margin-top: 50px;
  list-style: none;
}

#staff-l li:hover {
  background-color: #f2ebeb;
}

#staff-l li div {
  display: inline-block;
}


.staff-name {
  font-size: 30px;
}

.staff-role  {
  font-size: 25px;
}

.staff-description {
  font-size: 25px;
}